section {
    background-color: #151730;
    color: #FDB73A;
}
.Copyright{
    background-color: #488ECB;
    color: #151730;
}

a {
 text-decoration: none;
}
img, svg {
    vertical-align: middle;
 
    
}
#designeimage{
    height: 300px;
    position:absolute;
  margin-top: -2%;

}