<footer class="text-center text-lg-start bg-white text-muted">

    <section class="   d-flex justify-content-center justify-content-evenly  ">
        <div class=" col-md-3 ">
            <img id="designeimage"src="../../../assets/images/DESIGN .png">
        </div>

        <div class="col-md-3 ">
        <!-- Links -->
        <h6 class="text-uppercase w-bold mb-4  ">
            A propos
        </h6>
        <p>
            <img  src="../../../assets/icons/Footer/A propos/team.svg">  
          <a href="#!" class="text-reset">Equipe</a>
        </p>
        <p>
          <img  src="../../../assets/icons/Footer/A propos/media.svg">  
          <a href="#!" class="text-reset">Média Kit</a>
        </p>
        <p>
          <img  src="../../../assets/icons/Footer/A propos/presention.svg">  
          <a href="#!" class="text-reset">Présentation</a>
        </p>
       
      </div>
     
      <div class="  col-md-3   ">
        <!-- Links -->
        <h6 class="text-uppercase fw-bold mb-4 ">
            Réseaux Sociaux
        </h6>
        <p>
          <img  src="../../../assets/icons/Footer/Réseaux sociaux/facebook .svg">
          <a href="#!" class="text-reset">Facebook</a>
        </p>
        <p>
            <img  src="../../../assets/icons/Footer/Réseaux sociaux/twitter.svg">
          <a href="#!" class="text-reset">Twitter</a>
        </p>
        <p>
            <img  src="../../../assets/icons/Footer/Réseaux sociaux/instagram.svg">
          <a href="#!" class="text-reset">Instagram</a>
        </p>
       
      </div>
      <div class="col-md-3 ">
        <!-- Links -->
        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
     
        <p>
            <img  src="../../../assets/icons/Footer/Contact/enveloppe.svg">
     
          brainbuddy@gmail.com
        </p>
        <p><img src="../../../assets/icons/Footer/Contact/phone.svg"/> +33 6 67 78 45 90</p>
        
      </div>
    </section>
    <section class=" row Copyright">
      
      
    
      <div class="d-flex justify-content-around ">
        <ul  >
          <li><a href="">Mentions légales</a></li>
          <li><a href="">Données personnelles</a></li>
          <li><a href="">Gestion des cookies</a></li>
          <li><a href="">Aide / FAQ / Contact</a></li>
        
        </ul>
      </div>
      <div class=" Copyright ">
        Copyright 2023 - BrainBuddy’s Team
      </div> 
     
    </section >
</footer> 
