<nav>
    <img src="../../../assets/images/logo.png" alt="">
    <div class=" col-md col-lg-4 col-xl-3 mx-auto mb-4">
        <img src="../../../assets/images/DESIGN .png">
    </div>
    <div class="mobile">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
  <section class="top-nav">
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu">
      <li>Accueil</li>
      <li>Classement</li>
      <li>Profile</li>
      <li>Jeux</li>
      <li>Mon Compte</li>
    </ul>
  </section>
    <!-- Collapsible content -->
  
  
  <!--/.Navbar-->
    </div>
    <ul class="wide">
        <li>
            <a routerLink="" (click)="clickEvent('accueil')" [ngClass]="status === 'accueil' ? 'active' : ''">
                Accueil
            </a>
        </li>
        <li>
            <a routerLink="classement" (click)="clickEvent('classement')" [ngClass]="status === 'classement' ? 'active' : ''">
                Classement
            </a>
        </li>
        <li>
            <a routerLink="profile" (click)="clickEvent('profile')" [ngClass]="status === 'profile' ? 'active' : ''">
                Profile
            </a>
        </li>
        <li>
            <a routerLink="jeux" (click)="clickEvent('jeux')" [ngClass]="status === 'jeux' ? 'active' : ''">
                Jeux
            </a>
        </li>
        <li>
            <a routerLink="connexion" (click)="clickEvent('moncompte')" [ngClass]="status === 'moncompte' ? 'active' : ''">
                Mon Compte
            </a>
        </li>
    </ul>
</nav>

