<nav>
    <img src="../../../assets/images/logo.png" alt="">
    <div class="mobile">
        <!--Navbar-->
<nav class="navbar navbar-light navbar-1 white">

    
  
    <!-- Collapse button -->
    <button class="navbar-toggler text-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
      aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent15">
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <!-- Links -->
  
    </div>
    <!-- Collapsible content -->
  
  </nav>
  <!--/.Navbar-->
    </div>
    <ul class="wide">
        <li>
            <a routerLink="" (click)="clickEvent('accueil')" [ngClass]="status === 'accueil' ? 'active' : ''">
                Accueil
            </a>
        </li>
        <li>
            <a routerLink="classement" (click)="clickEvent('classement')" [ngClass]="status === 'classement' ? 'active' : ''">
                Classement
            </a>
        </li>
        <li>
            <a routerLink="profile" (click)="clickEvent('profile')" [ngClass]="status === 'profile' ? 'active' : ''">
                Profile
            </a>
        </li>
        <li>
            <a routerLink="jeux" (click)="clickEvent('jeux')" [ngClass]="status === 'jeux' ? 'active' : ''">
                Jeux
            </a>
        </li>
        <li>
            <a routerLink="moncompte" (click)="clickEvent('moncompte')" [ngClass]="status === 'moncompte' ? 'active' : ''">
                Mon Compte
            </a>
        </li>
    </ul>
</nav>

