nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

img {
    height: 50px;
    padding: 10px;
}

ul {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
}

li {
    list-style: none;
    color: #4C85B8;
    text-align: center;
    padding: 10px 0;
}

a {
    text-decoration:none;
    color: #4C85B8;
}

.active {
    text-decoration:underline;
    color:#4C85B8;
    text-decoration-thickness: 5px;
 }
