.gamecard {
    border: #4C85B8 solid 3px;
    border-radius: 10px;
    background-color: #d5e4fb;
    padding: 10px;
    text-align: center;
    width: 10%;
    
}
.btnMonky :visited{
    
    color: rgb(228, 8, 8);/*Bleu*/
}
.btnMonky:hover{
    color: rgb(255, 251, 28);
    text-decoration: underline;
    background-color: #052846;
   
}
.btnMonky:active{
    background-color: #0FA;/*Vert*/
    color: rgb(52, 4, 139);
    
}