.monkey-test-tutoriel {
    display: flex;
}

#main {
    align-items: center;
    width:90%;
}

h1 {
    margin-top: 1%;
    margin-bottom: 2.5%;
    font-weight: bold;
    color: #151730;
}

.content {
    margin: 2.5% 10%;
    text-align: center;
    border: 4px solid #151730;
    border-radius: 10px;
}

// texte
.text {
    display: flex;
    width:90%;
}

.paragraphs {
    text-align: justify;
    margin-left: 2%;
    margin-right: 5%;
}

// flèches du carrousel pour changer de vignettes

.triangle-parent {
    position: relative;
}

#triangle-gauche {
    border-top: 2vh solid transparent;
    border-right: 1vw solid #FFF8F8;
    border-bottom: 2vh solid transparent;
}

#triangle-gauche:hover {
    border-right: 1vw solid #919191;
}

#triangle-droit {
    border-top: 2vh solid transparent;
    border-left: 1vw solid #FFF8F8;
    border-bottom: 2vh solid transparent;
}

#triangle-droit:hover {
    border-left: 1vw solid #919191;
}

// bouton
button {
    background-color: #151730;
    border: none;
    margin-top: 2%;
    margin-bottom: 3%;
    padding: 10px 50px;
    color: #FFD458;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
}

button:hover {
    color: #151730;
    background-color: #488ECB;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:active {
    color: #151730;
    background-color: #FFD458;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

// Tutoriel & Vignettes 
.tutoriel {
    display: flex;
    align-items: center;
    margin-left: 4%;
    margin-right: 4%;
    width:95%;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #151730;
    border-radius: 25px;
    padding-left: 3%;
    padding-right: 3%;
    background-color: rgba(151, 191, 226, 0.6);
    width:95%;
}

.vignettes {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.vignette1 {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.vignette1-line1 {
    justify-content: space-between;
}

.vignette1-line2 {
    justify-content: space-around;
}

.tirage {
    border: 4px solid #151730;
    padding: 50px 50px;
    font-size: large;
    margin: 5px 30%;
}

// Cercles
.circles {
    display: flex;
    margin-top: 1%;
    justify-content: center;
    width:95%;
}

.circle {
    width: 0.60em;
    height: 0.60em;
    border-radius: 50%;
}

.circle-marged {
    margin-right: 1%;
}

.circle-active {
    background: #151730;
}

.circle-inactive {
    background: #B1B1B3;
}
