<div class="monkey-test">
    <div class="content">
        <h1>MonkeyTest</h1>
        <div class="tutoriel">
            <div id="main">
                <div class="">
                    <div class="slider">
                        <!-- Triangle Gauche -->
                        <div class="triangle-parent">
                            <div id="triangle-gauche"></div>
                        </div>
                        <!-- Slides -->
                        <div class="slides">
                            <!-- Slide 1 -->
                            <!-- <div id="slide1">
                                <div class="line1">
                                    <div class="tirage">1</div>
                                    <div class="tirage">4</div>
                                </div>
                                <div class="line2">
                                    <div class="tirage">3</div>
                                    <div class="tirage">2</div>
                                </div>
                                <div class="line3">
                                    <div class="tirage">5</div>
                                </div>
                            </div> -->
                            <!-- Slide 2 -->
                            <!-- <div id="slide2">
                                <div class="line1">
                                    <div class="tirage-masque">x</div>
                                    <div class="tirage-masque">x</div>
                                </div>
                                <div class="line2">
                                    <div class="tirage-masque">x</div>
                                    <div class="tirage-masque">x</div>
                                </div>
                                <div class="line3">
                                    <div class="tirage-masque">x</div>
                                </div>
                            </div> -->
                            <!-- Slide 3 -->
                            <div id="slide3">
                                <div class="line1">
                                    <div class="tirage">1</div>
                                    <div class="tirage-masque">x</div>
                                </div>
                                <div class="line2">
                                    <div class="tirage-masque">x</div>
                                    <div class="tirage">2</div>
                                </div>
                                <div class="line3">
                                    <div class="tirage-masque">x</div>
                                </div>
                            </div>
                        </div>
                        <!-- Triangle droite -->
                        <div class="triangle-parent">
                            <div id="triangle-droit"></div>
                        </div>
                    </div>
                </div>
                <!-- Boutons sous le slider -->
                <div class="circles">
                    <div class="circle circle-marged circle-active">
                        <a href="#slide1"></a>
                    </div>
                    <div class="circle circle-marged circle-inactive">
                        <a href="#slide2"></a>
                    </div>
                    <div class="circle circle-marged circle-inactive">
                        <a href="#slide3"></a>
                    </div>
                </div>
            </div>
            <div class="text">
                <div class="paragraphs">
                    <h2>Règles du test</h2>
                    <p>
                       Des nombres s'afficheront à l'écran. De mémoire, vous devrez les classer dans l'ordre croissant. Votre score dépend de votre rapidité. Chaque niveau comptera un nombre de plus à retrouver. Vous avez trois vies et le test continue tant qu'il vous en reste.
                    </p>
                    <ol>
                        <li>Un tirage de cartes apparaît au hasard à l'écran et le chronomètre démarre.</li>
                        <li>Mémorisez bien leur valeur et leur position avant de masquer le tirage.</li>
                        <li>Cliquez ces cartes de la plus petite à la plus grande.</li>
                        <li>En cas de succès, le chronomètre s'arrête et votre score s'actualise.</li>
                        <li>Au niveau suivant, une carte s'ajoute au tirage. Et ainsi de suite.</li>
                    </ol>
                    <h2>Difficulté et pénalités</h2>
                    <p>
                        Vous devez retrouver 4 chiffres en commençant par le chiffre 1 jusqu'au 4 :
                    </p>
                    <ul>
                        <li>Niveau réussi : le niveau suivant aura 5 chiffres à chercher.</li>
                        <li>Niveau échoué : vous recevez une pénalité et vous pourrez recommencer le niveau. Trois pénalités et le test est terminé.</li>
                    </ul>
                    <h2>La science derrière ce test</h2>
                    <p>
                        Il s'agit d'un test de mémoire de travail, rendu célèbre par une étude qui a révélé que les chimpanzés obtenaient systématiquement de meilleurs résultats que les humains dans cette tâche.
                    </p>
                    <p>
                        Dans cette étude, les chimpanzés ont constamment surpassé les humains, et certains chimpanzés ont été capables de se souvenir de 9 chiffres dans plus de 90 % des cas. Bonne chance !
                    </p>
                </div>
            </div>
        </div>
        <div class="button">
            <button>Jouer</button>
        </div>
    </div>
</div>