<div class="monkey-test">
    <div class="content">
        <h1>ChimpTest</h1>
        <div class="tutoriel">
            <div id="main">
                <div class="">
                    <div class="slider">
                        <!-- Triangle Gauche -->
                        <div class="triangle-parent">
                            <div id="triangle-gauche"></div>
                        </div>
                        <!-- Vignettes -->
                        <div class="slides">
                            <!-- <div id="slide1">
                                <div class="line1">
                                    <div class="tirage">1</div>
                                    <div class="tirage">4</div>
                                </div>
                                <div class="line2">
                                    <div class="tirage">3</div>
                                    <div class="tirage">2</div>
                                </div>
                                <div class="line3">
                                    <div class="tirage">5</div>
                                </div>
                            </div> -->
                            <!-- <div id="slide2">
                                <div class="line1">
                                    <div class="tirage-masque">x</div>
                                    <div class="tirage-masque">x</div>
                                </div>
                                <div class="line2">
                                    <div class="tirage-masque">x</div>
                                    <div class="tirage-masque">x</div>
                                </div>
                                <div class="line3">
                                    <div class="tirage-masque">x</div>
                                </div>
                            </div> -->
                            <div id="slide3">
                                <div class="line1">
                                    <div class="tirage">1</div>
                                    <div class="tirage-masque">x</div>
                                </div>
                                <div class="line2">
                                    <div class="tirage-masque">x</div>
                                    <div class="tirage">2</div>
                                </div>
                                <div class="line3">
                                    <div class="tirage-masque">x</div>
                                </div>
                            </div>
                        </div>
                        <!-- Triangle droite -->
                        <div class="triangle-parent">
                            <div id="triangle-droit"></div>
                        </div>
                    </div>
                </div>
                <div class="circles">
                    <div class="circle circle-marged circle-active">
                        <a href="#slide1"></a>
                    </div>
                    <div class="circle circle-marged circle-inactive">
                        <a href="#slide2"></a>
                    </div>
                    <div class="circle circle-marged circle-inactive">
                        <a href="#slide3"></a>
                    </div>
                </div>
            </div>
            <div class="text">
                <div class="paragraphs">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident corrupti veniam molestiae
                        praesentium optio quaerat explicabo vero nemo. Temporibus eum aliquam adipisci! Iste assumenda
                        delectus quam perferendis id quo, accusantium rerum illum optio vel! Dolor exercitationem
                        eligendi rem repudiandae mollitia pariatur dolorem ipsa? Reiciendis, officiis.
                    </p>
                    <ol>
                        <li>Le tirage apparaît</li>
                        <li>Le tirage est masqué</li>
                        <li>Cliquez les cartes dans l'ordre croissant</li>
                    </ol>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident corrupti veniam molestiae
                        praesentium optio quaerat explicabo vero nemo. Temporibus eum aliquam adipisci! Iste assumenda
                        delectus quam perferendis id quo, accusantium rerum illum optio vel! Dolor exercitationem
                        eligendi rem repudiandae mollitia pariatur dolorem ipsa? Reiciendis, officiis.
                    </p>
                </div>
            </div>
        </div>
        <div class="button">
            <button>Jouer</button>
        </div>
    </div>
</div>