ul {
    list-style: none;
    text-align: center;
    margin:0;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

li {
    padding-right: 30px;
    padding-top: 10px;
}
