table {
    text-align: center;
    width: 100%;
    margin-left: 100px;
    
}

#header {
    
    width: 100%;
    background-color: #a2c0d2;
}

#header th {
    width:33%;
    padding: 20px;
}

td {
    padding: 20px;
}

@media screen and (max-width: 755px) {
    table {
        margin-left: 0;
        table-layout:fixed;
    }

    #header th {
        width:33%;
        padding: 10px;
    }

}