
@media only screen and (max-width: 950px) {
.tutoriel {
    // display: flex;
    align-items: center;
    flex-direction: column;
    }
}

#container {
    display: flex;
    width: 44vw;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    vertical-align: middle;
}

// Tirage

.carte-vide {
    flex-shrink: 0;
    width:4vw;
    height:4vw;
    border: 0.11em solid #ffffff;
    background-color: #ffffff;
    margin: 0.2vw 0.2vw;
}

.carte-recto {
    flex-shrink: 0;
    width:4vw;
    height:4vw;
    border: 0.11em solid #161831;
    background-color: #e9e9ed;
    border-radius: 15px;
    margin: 0.2vw 0.2vw;
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
}

.carte-recto p {
    margin: 0 0;
}

.carte-recto:hover {
    border: 0.11em solid #488ECB;
    color: #488ECB;
    cursor: pointer;
}

.carte-verso {
    flex-shrink: 0;
    width:4vw;
    height:4vw;
    border: 0.11em solid #161831;
    background-color: #161831;
    color: #ffffff;
    border-radius: 15px;
    // padding: 1% 5%;
    margin: 0.2vw 0.2vw;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    cursor: pointer;    
}

.carte-verso:hover{
background: #488ECB;
cursor: pointer;
}

