<div id="game-screen">
    <div *ngFor="let cell of grille; let i = index">
        <div class="carte-vide" *ngIf="cell == null">
            <p></p>
        </div>
        <div class="carte" *ngIf="cell != null">
            <div class="carte-recto" (click)="flipCards()">
                <p>{{cell}}</p>
            </div>
            <div class="carte-verso" (click)="checkOrder(cell,$event)" hidden>
                <p>.</p>
            </div>
        </div>
    </div>
</div>
<div id="score-screen" (click)="nextRound()" hidden>
    <p>Victoire !</p>
    <p>Level : {{level}}</p>
    <p>Vies restantes : {{life}}</p>
    <button>Continuer</button>
</div>
