
@media only screen and (max-width: 950px) {
.tutoriel {
    // display: flex;
    align-items: center;
    flex-direction: column;
    }
}

#game-screen, #score-screen, #lifelost-screen, #end-screen {
    display: flex;
    width: 44vw;
    height:30vw;
    flex-direction: column;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
}

#cartes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.screen-message {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
}

.btn {
    background-color: #151730;
    width:15vw;
    border: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 10px 50px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    color: #FFD458;
}

.btn:hover {
    color: #151730;
    background-color: #488ECB;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.rejouer {
    display: flex;
    text-align: center;
    background-color: #151730;
    border: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 10px 50px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    color: #FFD458;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.rejouer:hover {
    color: #151730;
    background-color: #488ECB;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

// active
.rejouer:active {
    color: #151730;
    background-color: #FFD458;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.rejouer a:active {
    color: #151730;
}

// icones
#icones {
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2vw;
}
  
.icone {
    // display:flex;
    margin-top: 0.4vw;
}

.icone p {
    margin-top: 0.3vw;
}

.icone svg {
    margin-right: 0.2vw;
    margin-top: 0.07vw;
    size: 1vw;
}

// Tirage

.carte-vide {
    flex-shrink: 0;
    width:4vw;
    height:4vw;
    border: 0.11em solid #ffffff;
    background-color: #ffffff;
    margin: 0.2vw 0.2vw;
}

.carte-recto {
    flex-shrink: 0;
    width:4vw;
    height:4vw;
    border: 0.11em solid #161831;
    background-color: #e9e9ed;
    border-radius: 15px;
    margin: 0.2vw 0.2vw;
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
}

.carte-recto p {
    margin: 0 0;
}

.carte-recto:hover {
    border: 0.11em solid #488ECB;
    color: #488ECB;
    cursor: pointer;
}

.carte-verso {
    flex-shrink: 0;
    width:4vw;
    height:4vw;
    border: 0.11em solid #161831;
    background-color: #161831;
    color: #ffffff;
    border-radius: 15px;
    // padding: 1% 5%;
    margin: 0.2vw 0.2vw;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    cursor: pointer;    
}

.carte-verso:hover{
    background: #488ECB;
    cursor: pointer;
}
    

.carte-verso.cliquee {
    flex-shrink: 0;
    width:4vw;
    height:4vw;
    border: 0.11em solid #ffffff;
    background-color: #ffffff;
    margin: 0.2vw 0.2vw;
    cursor: default;
    // bloque les clics de la carte
    pointer-events: none;    
}


