<div class="banner">
    <div class="bannertitle">
        <p class="title">
            Faites chauffer votre cerveau !
        </p>
        <img src="../../../assets/icons/icons8-right-facing-fist-48.png" alt="">
        <span>
            Ne le meningez pas !
        </span>
        <img src="../../../assets/icons/icons8-left-facing-fist-48.png" alt="">
    </div>
</div>
<div class="banner1">
    <div class="card">
        <img src="../../../assets/icons/Vector.png" alt="">
        <p>Challengez vos scores!</p>
    </div>
    <div class="card">
        <img src="../../../assets/icons/sword-fill-svgrepo-com_1.png" alt="">
        <p>Defiez Vos Proches!</p>
    </div>
    <div class="card">
        <img src="../../../assets/icons/trophy-svgrepo-com_1.png" alt="">
        <p>Grimpez au Classement!</p>
    </div>
</div>
<div class="topgames">
    <div class="text">
        <p>Top Games</p>
    </div>
    <div class="gamecard">
        <img src="../../../assets/icons/monkey-svgrepo-com.svg" alt="">
        <p>Monkey Test</p>
    </div>
    <div class="gamecard">
        <img src="../../../assets/icons/rectangle-grid-1x2-fill-svgrepo-com.svg" alt="">
        <p>Memoris</p>
    </div>
    <div class="gamecard">
        <img src="../../../assets/icons/hand-svgrepo-com.svg" alt="">
        <p>Count</p>
    </div>
</div>