

<div class="row">
<div class="banner">
    <div class=" col-md-6 align-items-start bannertitle">
        <p >
            Faites chauffer votre cerveau !
        </p>
        <img src="../../../assets/icons/icons8-right-facing-fist-48.png" alt="">
        <span>
            Ne le meningez pas !
        </span>
        <img src="../../../assets/icons/icons8-left-facing-fist-48.png" alt="">
    </div>
</div>
</div>

<div class="banner1">
    <div class="card">
        <img src="../../../assets/icons/Vector.png" alt="">
        <p>Challengez vos scores!</p>
    </div>
    <div class="card">
        <img src="../../../assets/icons/sword-fill-svgrepo-com_1.png" alt="">
        <p>Defiez Vos Proches!</p>
    </div>
    <div class="card">
        <img src="../../../assets/icons/trophy-svgrepo-com_1.png" alt="">
        <p>Grimpez au Classement!</p>
    </div>
</div>

    
 
 <div class=" row topgames">
    
        <p class=" col-md-3 text">Top Games</p>
   
   
    <button  class="btnMonky col-md-3 gamecard" >
       <a href="http://localhost:4200/monkeytest"><img src="../../../assets/icons/monky.png" alt=""></a>
        <p>Monkey Test</p>
    </button>
   
 
 
    <button  class=" flou btnMonky col-md-3 gamecard">
        <img src="../../../assets/icons/Memoris.svg" alt="">
        <p>Memoris</p>
    </button>
    
   
    <button  class=" flou btnMonky col-md-3 gamecard" >
        <img src="../../../assets/icons/Count.svg" alt="">
        <p>Count</p>
    </button>
   
</div>


