.banner {
    width: 500%;
    // height: 600px;
    background-blend-mode: exclusion;
    background: url('../../../assets/images/Acueil.png'), lightgray -253.387px -179.148px / 125.75% 106.343% no-repeat ;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.banner1 {
    display: flex;

    justify-content: space-around;
    width: 100%;
    height: 80px;
    background-color: #a2c0d2 ;
}


.card {
    width: 43%;
    display:flex;
    flex-direction: row;
    height: 50px;
    background-color:transparent ;
    border: none;
    justify-content: center;
    justify-items: center;
    margin: auto 0;
}

.card img {
    height: 50px;
    width: 50px;
    padding: 3px;
}

.topgames {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin : 20px;
}

.gamecard {
    border: #4C85B8 solid 3px;
    border-radius: 10px;
    background-color: #d5e4fb;
    padding: 10px;
    text-align: center;
    width: 10%;
    
}

.text {
    font-size: 42px;
    margin: auto 0;
}

.topgames img {
    height: 100px;
    width: 100px;
    
}

.card p {
    margin: auto 0;
    font-size: 30px;
}

.gamecard p {
    margin: auto 0;
  
}


.bannertitle {
    width: 50%;
    text-align: center;
    padding: 150px 0;
}

.bannertitle span {
    font-size: 40px;
}
.btnMonky :visited{
    
        color: rgb(228, 8, 8);/*Bleu*/
}
.btnMonky:hover{
        color: rgb(255, 251, 28);
        text-decoration: underline;
        background-color: #052846;
       
    }
.btnMonky:active{
        background-color: #0FA;/*Vert*/
        color: rgb(52, 4, 139);
        
    }

    .banner1 img{
          
        width: 10%;
        height: auto;
    }
   
    
    .flou{
        filter: blur(2px);
    }
   @media (200px <= width <= 1200px)
       {
    
       
        .topgames{
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
          
        }
        

        .bannertitle {
            width: 50%;
            text-align: center;
            padding: 20px 0;
            
        }
        .banner1 .card p{
            visibility: hidden;
        }
        .banner1 .card img{
            width: 50px;
            align-items: center;
            margin-top: 5%;
        }
        .bannertitle span{
            font-size: 29px;

        }
        .banner {
            width: 100%;
            height: 200px;
            background-blend-mode: exclusion;
            background: url('../../../assets/images/Acueil.png'), lightgray -253.387px -179.148px / 125.75% 106.343% no-repeat ;
            background-size: cover;
            background-repeat: no-repeat;
            
        }
        .banner p {

            font-size: 15px;
    
           }
        .banner1 .card {
            flex-direction: column;
            align-items: center;
         
         }
        
       
        .gamecard{
            
            border: #4C85B8 solid 3px;
            border-radius: 10px;
            background-color: #d5e4fb;
            padding: 10px;
            text-align: center;
            width: 45%;
            margin-bottom: 10px;
        }

       
      
        
        .option{
            flex-direction: column;
        }
       .banner img{
          
            width: 15%;
            height: auto;
           
        }

       .card p {
        font-size: 12px;
       }
      
      }


      