.form {
    width: 60%;
    margin: 50px auto;
    display:flex;
    justify-content: center;
    border: black solid 2px;
    height: 100%;
   
}

.form1 {
    display:flex;
    justify-content: center;
    padding: 20px;
    width: 50%;
    
}

.form2 {
    display:flex;
    justify-content: center;
    padding: 20px;
    width: 50%;
    border-left: solid black 1px;
}

.form2 button, .form1 button {
    width: 40%;
    margin: 20px auto;
    border-radius: 15px;
    border: none;
    color: #4C85B8;
    background-color: #a2c0d2;
    padding: 5px;
}

.formulaire {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.formulaire h2 {
    margin-bottom: 50px ;
    margin-top: 0;
}

.forelem {
    display: flex;
    justify-content: end;
    margin: 10px 0;

}

.forelem input {
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}

#souvienttoi {
    width: 15px;
    margin-right: 10px ;

}

#souvientlabel {
    margin-right: 40%;
}

#form3 {
    
}

.alerte {
    color: red;
    font-size: 10px;
}

@media screen and (max-width: 1500px) {
    .form {
        width: 70%;
        margin-top: 30PX;
    }
}


@media screen and (max-width: 1070px) {
    .form {
        flex-direction: column;
        border: none;
        margin-top: 7%;
        margin-left: 15%;
    }

    .form2 {
        width: auto;
        border-left:none;
        border-left: black solid 2px;
        border-right: black solid 2px;
        border-bottom: black solid 2px;
    }

    .form1 {
        width: auto;
        height: auto;
        border-top: black solid 2px;
        border-left: black solid 2px;
        border-right: black solid 2px;
        border-bottom: black solid 1px;
       
    }
}

@media screen and (max-width: 760px) {

    .form {
        margin-top: 4%;
        width: 80%;
       margin-left: 11%;
        
    }

    .forelem {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #souvientlabel {
        margin: 0 auto;
    }
}